
// JavaScript source code
<!DOCTYPE html>
<html>
<head>
  <% include ../../includes/header.ejs %>
</head>

<body>
  <% include ../../includes/nav.ejs %>
<div class="jumbotron text-center">
  <div class="container">
    <h1><%= title %></h1>
    <p>here is p01</p>
  </div>
</div>

Input 1: <%= newText1 %>
<br>
Input 2: <%= newText2 %>
<div class="container">
  
</div>


</body>
</html>